@use 'lib';

$light: #fefefe;
$dark: #565656;

body{
	p{
		background-color: $dark;
		color: $light;
		width: 50vw;
		height: 10vh;
		margin-left: 25vw;
	}

	h1{
		background-color: $light;
		color: $dark;
		width: 60vw;
		height: 20vh;
		margin-left: 20vw;
	}

	a{
		background-color:lib.$primary;
		color: lib.$secondary;
	}
}

.calc{
  width: 80vw;
  height: 80vh;
  margin: 10vh 10vw;
  background-color: #dddd34;
  border-radius: 2rem;
}

.display{
  width: 80%;
  height: 30%;
  background-color: #fefefe;
  margin: 10% 10%;
  border-radius: 3rem;
  padding: 1rem;
  box-sizing: border-box;
}