@use 'lib';

.calc{
  width: 80vw;
  height: 60vh;
  background-color: #dddd34;
  border-radius: 2rem;
}

.display{
  width: 80%;
  height: 10vh;
  background-color: #add496;
  margin-left: 10%;
  margin-top: 5vh;
  border-radius: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 3rem;
}